html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.caixa-maior {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.caixa-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-senha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-create {
    gap: 5px;
    display: flex;
    flex-direction: column;
}